<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639802461548-tqjeq1aea3nlb13g999ugihic431lpbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639802461548-tqjeq1aea3nlb13g999ugihic431lpbc</string>
	<key>API_KEY</key>
	<string>AIzaSyADjDOsWr068T5xnzigH2ZbMmusGWUFhXg</string>
	<key>GCM_SENDER_ID</key>
	<string>639802461548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>mamitas-glam</string>
	<key>STORAGE_BUCKET</key>
	<string>mamitas-glam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639802461548:ios:8b200a43b5f4a7c8d07749</string>
</dict>
</plist>